<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>註冊</h1>
    <form method="POST" action="">
        {{form.csrf_token}}
        {{form.hidden_tag()}}
        {{form.username.label}}
        {{form.username}}
        <br>
        {{form.password.label}}
        {{form.password}}
        <br>
        {{form.password_twice.label}}
        {{form.password_twice}}
        <br>
        {{form.submit}}
    </form>
</body>
</html>